{% block object_action_block %}
    {% set actionRoute  = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ (builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "") ~ '_object') %}
    {% set actionParams = action.params ? echo_twig_assoc(action.params) : "{ 'pk': " ~ builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ ", action: '" ~ action.name ~ "' }" %}
    {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}

    {% spaceless %}
    {{ echo_spaceless() }}
    <a  class="btn {% if builder.yamlKey is sameas('list') %} {% endif %}{{ action.class|default('') }}" href="{{ echo_path(actionRoute, actionParams) }}"
        title="{{ echo_trans(action.label, {}, translationDomain) }}"
        {% if builder.yamlKey is sameas('list') %}
        rel="tooltip"
        {% endif %}
        {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain) }}" {% endif -%}
        {%- if action.csrfProtected %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
            <i class="fa {{ action.icon|default('fa-asterisk') }}">
                {% if builder.yamlKey is not sameas('list') %}
                {{ echo_trans(action.label, {}, translationDomain) }}
                {% endif %}
            </i>
    </a>
    {{ echo_endspaceless() }}
    {% endspaceless %}
{% endblock %}